PORT=3000
LOCAL_URL=http://localhost:3000/

WEBSITE_LOCATION="/home/www/"
BLOGS_FOLDER="/home/www/blogs/"
IMAGES_FOLDER="/home/www/images/"
CONF_FOLDER="/home/www/conf/"
LOGS_FOLDER="/home/www/logs"

JWT_TOKEN="0000"
CREDENTIALS_FILE_NAME="a.txt"