.blog-page {
  width: calc(100% / 1.3);
}

.blog-page h1 {
  font-size: 3rem;
  margin-top: 0;

  color: #333;
  text-align: center;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.3rem;
  line-height: 1.4;
  text-align: start;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.blog-content h2,
.blog-content h3 {
  margin: 2.5rem 0 1.5rem 0.5rem;

  color: #333;
  font-size: 2rem;
  line-height: 1.25;
}

.blog-content > p {
  margin-bottom: 15px;
  margin-top: 0px;
}

.ql-code-block-container {
  padding: 20px;
  margin-block: 10px;
  border-radius: 15px;
  background-color: #212830;
  width: 70%;
  align-self: center;
}

.ql-code-block {
  font-family: monospace;
  color: white;
  font-size: 15px;
}

.blog-content s {
  padding-block: 2px;
  padding-inline: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  text-decoration: none;
  background-color: #212830;
  color: wheat;
}

.blog-content a {
  padding-inline: 3px;
  color: #212830;
  text-decoration: none;
  border-bottom: solid #212830 2px;
}

.blog-content a:hover {
  border-radius: 5px;
  color: midnightblue;
  text-decoration: none;
  background-color: #212830;
  color: wheat;
}

.blog-content > p:has(img) {
  color: #888;
  font-size: medium;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-content > p > img {
  max-width: 600px;
  max-height: 600px;
}