/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Offside");
.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}

/* Header */

header {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
header > div {
  margin-block: 30px;
  margin-inline: 20px;
}
header > div > h1 {
  margin: 0;
}
header > div > h1 > a {
  color: black;
  text-decoration: none;
}
nav {
  /* font-family: "Offside", sans-serif; */
  margin-block: 20px;
  margin-right: 10vw;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

nav > ul {
  padding: 0;
}

nav > ul > li {
  display: inline;
  padding-inline: 20px;
}

/* Blog list */

.blogs-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

/* Blog card */

.blog-card {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 10px;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  background-color: wheat;
}

.blog-card > a {
  font-size: 25px;
  font-weight: bold;
  color: rgb(49, 49, 83);
  cursor: pointer;
  text-decoration: none;
}

.blog-card > a:hover {
  color: rgb(170, 40, 100);
}

.blog-card > .row > button {
  padding-inline: 25px;
  font-weight: bold;
}

.blog-card > span {
  font-size: small;
  padding-left: 10px;
  color: darkred;
}

/* ... */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.notification {
  padding: 5px;
}

.failure {
  color: red;
}

.success {
  color: green;
}

nav > ul > li {
  display: inline;
  padding-inline: 20px;
}

/* Rows */

.row {
  display: flex;
  justify-content: center;
  gap: 10%;
}

/* Buttons : Normal */

.btn {
  background-color: rgb(49, 49, 83);
  width: fit-content;
  height: 45px;
  border: none;
  border-radius: 5px;
  padding: 0px 15px;
  color: wheat;
  font-size: small;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(58, 58, 94);
}

.btn:active {
  transform: scale(0.95);
}

.btn-wide {
  width: 100%;
  padding-inline: 20px;
}
/* Buttons : <A> */

.btn-anchor {
  color: rgb(49, 49, 83);
  background: none;
  width: fit-content;
  border: none;
  padding: 0px 15px;
  font-size: large;
  cursor: pointer;
}

.btn-anchor:hover {
  color: rgb(170, 40, 100);
}

.btn-anchor:active {
  transform: scale(0.95);
}

/* Anchor */

.anchor {
  color: rgb(49, 49, 83);
  background: none;
  width: fit-content;
  border: none;
  padding: 0px 15px;
  font-size: large;
  cursor: pointer;
  text-decoration: none;
}

.anchor:hover {
  color: rgb(170, 40, 100);
  background: none;
  width: fit-content;
  border: none;
  padding: 0px 15px;
  font-size: large;
  cursor: pointer;
}

.anchor:active {
  font-size: 0.9rem;
}

/* NEW BLOG */

.new-blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: wheat;
}

.new-blog > input {
  font-size: 2rem;
  min-width: 75%;
  border: none;
  margin-bottom: 10px;

  color: #333;
  text-align: center;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.3rem;
  line-height: 1.4;
  text-align: start;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.blog-content h2,
.blog-content h3 {
  margin: 2.5rem 0 1.5rem 0.5rem;

  color: #333;
  font-size: 2rem;
  line-height: 1.25;
}

.blog-content > p {
  margin-bottom: 15px;
  margin-top: 0px;
}

/* Blog Editor */

.ql-toolbar {
  position: absolute;
  bottom: -20px;
  background-color: white;
}

.blog-editor {
  background-color: white;

  height: 500px;
  width: 95%;
  overflow-y: scroll;
  margin-bottom: 50px;
}

/* ... */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-block: 3rem;
}

/* Blog Page */

.blog-page {
  width: calc(100% / 1.3);
}

.blog-page h1 {
  font-size: 3rem;
  margin-top: 0;

  color: #333;
  text-align: center;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.3rem;
  line-height: 1.4;
  text-align: start;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.blog-content h2,
.blog-content h3 {
  margin: 2.5rem 0 1.5rem 0.5rem;

  color: #333;
  font-size: 2rem;
  line-height: 1.25;
}

.blog-content > p {
  margin-bottom: 15px;
  margin-top: 0px;
}

/* Code Block */

.ql-code-block-container {
  padding: 20px;
  margin-block: 10px;
  border-radius: 15px;
  background-color: #212830;
  width: 70%;
  align-self: center;
}

.ql-code-block {
  font-family: monospace;
  color: white;
  font-size: 15px;
}

/* Auth */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  width: 70%;
  padding: 20px;
  padding-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-page > form {
  width: 70%;
}

.login-page > form > label {
  display: block;
  text-align: start;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-page input[type="text"],
.login-page input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.remember-me-div {
  text-align: start;
  margin-bottom: 10px;
}

.remember-me-div input {
  display: inline;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.remember-me-div > label {
  display: inline;
  cursor: pointer;
}

/* Profile */

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  width: 70%;
  padding: 20px;
  padding-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-page > form {
  width: 90%;
}
.profile-page > form > label {
  display: block;
  text-align: start;
  margin-bottom: 10px;
  cursor: pointer;
}
.profile-page > form > input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Form */

.blocks-form label {
  display: block;
  text-align: start;
  margin-bottom: 10px;
  cursor: pointer;
}
.blocks-form input {
  width: -moz-available;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* FieldSet */

legend {
  color: rgb(49, 49, 83);
  font-size: medium;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 2px;
}
